.section-introduction {
  background:
    linear-gradient(rgba(33, 33, 33, 0.9), rgba(33, 33, 33, 0.9)),
    url(../images/header_bg.jpg) center top / cover no-repeat;
  height: 500px;
}
.section-introduction-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.introduction-headline {
  font-size: 64px;
  color: $white;
  text-align: center;
  margin: 0;
}
.introduction-catchphrase {
  font-size: 24px;
  text-align: center;
  color: $white;
}



// Components
.join-us-container {
  text-align: center;
  > input {
    width: 450px;
    display: inline-block;
  }
  > button {
    text-transform: uppercase;
  }
}