.section-introduction {
  background:
    linear-gradient(rgba(33, 33, 33, 0.9), rgba(33, 33, 33, 0.9)),
    url(../images/header_bg.jpg) center top / cover no-repeat;
  height: 100vh;
}
.section-introduction-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  @media screen and (width: 375px) {
    padding: 0 30px;
  }
}
.introduction-headline {
  font-size: 64px;
  color: $pink;
  text-align: center;
  margin: 0;

  @media screen and (width: 375px) {
    font-size: 48px;
  }
}
.introduction-catchphrase {
  font-size: 24px;
  text-align: center;
  color: $white;

  @media screen and (width: 375px) {
    font-size: 20px;
  }
}

.section-features {
  @include outer-container;
}

// Components
.join-us-container {
  text-align: center;
  > input {
    width: 450px;
    display: inline-block;
  }
  > button {
    text-transform: uppercase;
  }

  @media screen and (width: 375px) {
    > input {
      width: 100%;
      display: block;
    }
  }
}