.section-introduction {
  background:
    linear-gradient(rgba(33, 33, 33, 0.9), rgba(33, 33, 33, 0.9)),
    url(../images/header_bg.jpg) center top / cover no-repeat;
  height: 100vh;
}

.section-introduction-wrapper {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);

  @media screen and (max-width: 414px) {
    padding: 0 30px;
  }
}

.introduction-headline {
  font-size: 64px;
  color: $pink;
  text-align: center;
  margin: 0;

  @media screen and (max-width: 414px) {
    font-size: 48px;
  }
}

.introduction-catchphrase {
  font-size: 24px;
  text-align: center;
  color: $white;
  margin-bottom: 10px;

  @media screen and (max-width: 414px) {
    font-size: 20px;
  }
}

.section-features {
  @include outer-container;
}

// Components
.join-us-container {
  text-align: center;
  > input {
    width: 50%;
    margin: 0 auto 10px auto;
    // display: inline-block;
  }
  > button {
    text-transform: uppercase;
  }

  @media screen and (max-width: 414px) {
    > input {
      width: 100%;
      display: block;
    }
  }
}

.total-users {
  color: $pink;
}