.section-introduction
  .section-introduction-wrapper
    %h1.introduction-headline
      Welcome Hackers
    %p.introduction-catchphrase
      Discover new tricks from 644 developers, designers, entrepreneurs.
    .join-us-container
      %input{type: "text", placeholder: "enter your email address"}
      %button{type: "button"} Join Us