.section-introduction
  .section-introduction-wrapper
    %h1.introduction-headline
      \#phackers
    %p.introduction-catchphrase
      Join 600+ developers to discuss software development.
    .join-us-container
      %input{type: "text", placeholder: "enter your email address", class: "invite-email"}
      %button{type: "button", class: "invite-button"} Join Us
.section-features
  .feature-text-wrapper
  .feature-image-wrapper